@media screen and (max-width: 601px){
    .join {
        /* height: 25vh; */
    }

    .imgRow img {
        margin-bottom: 80px;
    }
}

input {
    border: solid black 2px !important;
    margin-bottom: 10px;
}

input::first-letter {
    padding-left: 5px !important;
}

textarea {
    height: 180px;
    border: solid black 2px !important;
}

span {
    color: white;
    font-size: 40px;
}

h1 {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 160px !important;
    text-align: right;
    font-weight: 900;
    color: white;
}

h3 {
    color:white;
    font-size: 120px;
    font-weight: 900;
    margin-top: -10px;
}

h4 {
    color: white;
}

p {
    font-size: 18px;
    line-height: 35px;
    color: #6F7287;
}

button {
    margin-top: 25px;
    height: 50px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: solid 2px black;
    color: black;
    transition-duration: .2s;
}

button:hover {
    color: white;
    background-color: #FFCC33;
    transition-duration: .2s;
    border: none !important;
}

button:focus {
    background-color: #FFCC33;
    color: white;
    border: none;
}

.nav {
    position: absolute;
    top: 25vh;
    right: 10px;
}

.nav ul li img {
    height: 100px;
    width: 100px;
}

.nav ul li {
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
    transition-duration: .5s;
    cursor: pointer;
}

.nav ul li:hover {
    font-size: 30px;
    transition-duration: .5s;
}

.right-align {
    padding-right: 25vw !important;
}

.blue {
    background-color: #003399 !important;
    height: inherit;
    padding-top: 16vh !important;
}

.top {
    height: 100vh;
}

.whenWhere a {
    color: white;
    background-color: #FFCC33;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: .2s;
}

.whenWhere a:hover {
    color: black;
    background-color: transparent;
    transition-duration: .2s;
    border: solid #FFCC33 2px;
}

.sponsors {
    padding-top: 100px;
}

.imgRow {
    margin-bottom: 50px;
}

